#femii{
    color: rgb(40, 227, 165);
    text-align: right;
}
.box{
    border: 2px solid red;
    padding-left: 55px;
    margin-left: 25%;
    margin-top: 5%;
    margin-right: 25%;
    padding-right: 55px;
    background-color: blueviolet;
}